<div class="card">
  <article class="integration-card">
    <div class="integration-card__image">
        <svg class="integration-icon">
          <use xlink:href="{{ integration.icon }}"></use>
        </svg>
    </div>
    <div class="integration-card__content">
      <span class="integration-title font-title">{{ integration.name }}</span>
    </div>
  </article>
</div>